{% extends "::base.html.twig" %}


{% block title %}Liste des soirées{% endblock %}


{% block body %}
    <div class="well">
        <table>
            <thead>
            <tr>
                <th>Nom de la Soirée :</th>
                <th>Description :</th>
                <th>Coût de la participation :</th>
            </tr>
            </thead>
            <tbody>
            {% for soiree in soirees %}
                <tr>
                    <td> {{ soiree.nom }} </td>
                    <td> {{ soiree.description }} </td>
                    <td>{{ soiree.paiement }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
