{% extends "::base.html.twig" %}


{% block title %}une soirée{% endblock %}


{% block body %}
    <div class="well">
        <table>
            <thead>
            <tr>
                <th>Nom de la Soirée :</th>
                <th>Coût de la participation :</th>
                <th>Description :</th>
                <th>Participants :</th>
            </tr>
            </thead>
            <tbody>
            {% for soiree in soiree %}
            <tr>
                <td>{{ soiree.nom }}</td>
                <td>{{ soiree.paiement }}</td>
                <td>{{ soiree.description }}</td>
            </tr>
            </tbody>
        </table>

        </div>
        <a href="{{ path('ajout', { 'id' : soiree.id }) }}">bouyouyoyou</a>
        <input class="btn btn-default" type="button" value="S'inscrire">
        <input class="btn btn-default" type="button" value="Se Désinscrire">
    </div>
{% endblock %}
